<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block titulo %}{% endblock %}</title>
	<link rel="icon" href="{% static 'assets/img/Fevicon.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
  
    <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href=""><img src="" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area end =================-->

    {% block contenido %} {% endblock %}
   <br><br><br>
<!-- ================ End footer Area ================= -->
  <script src="{% static 'assets/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'assets/js/mail-script.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>